//FOOTER START
.footer{
  margin-top: 17px;
  background-color: #000;

  &-headline{
    padding: 25px 0;
    font-size: 25px;
    color: #fff;
  }

  &-text{
    font-size: 16px;
    line-height: 28px;
    color: $text-roboto-normal-footer;

    &-end{
      padding-bottom: 35px;
      color: $text-roboto-normal-footer;
      font-size: 16px;
      line-height: 26px;
    }
  }
  &-icons{
    padding: 25px 0;
  }
}
//FOOTER END