//MAIN START
.big-img{
  text-align: center;
  margin-top: 40px;
}
.posts{
  text-align: left;
  font-family: $Roboto-bold;
  font-size: 16px;
  line-height: 22px;
  margin-left: 15px;
  padding: 15px 0;
}
.posts-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;

}
.all-img{
  display: flex;
  margin-left: 1px;
  width: 49%;
  margin-bottom: 32px;
}
.text-box{
  margin-left: 20px;
}
.text-decor{
  font-family: $Roboto-bold;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 13px;
  text-align: left;
}
.text-decor2{
  font-family:$Roboto-Regular;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 13px;
  text-align: left;
}
.text-decor3{
  font-family: $Roboto-Regular;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}

//MAIN END