.menu-icon-wrapper{
  display: none;
}
@media (max-width: 320px) {
  //BUTTON START
  .menu-icon-wrapper {
    background: #000;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 275px;
  }
  .menu-icon-active {
    position: relative;
    width: 15px;
    height: 2px;
    background-color: #fff;
  }
  .menu-icon-active::before {
    position: absolute;
    left: 0;
    top: -4px;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon-active::after {
    position: absolute;
    left: 0;
    top: 4px;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon {
    background-color: transparent;
  }
  .menu-icon:before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon:after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}
//BUTTON AND