@import "roboto";
@import "mixins";
@import "variables";
@import "sections/_footer.scss";
@import "sections/button.scss";
@import "sections/_header.scss";
@import "sections/_main.scss";

//ПЕРЕПИСАТЬ ДЛЯ КАЖДОГО ОТДЕЛЬНО
html body{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.container-all {
  width: 100%;
}
@media (max-width: 768px) {
  //HEADER STAR

.navbar{
  display: flex;
  justify-content: center;
  text-align: center;
}
  .navbar-nav{
    display: flex;
    margin-top: 20px;
  }
  .navbar-nav-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: $text-roboto-normal;
    margin-left: 20px;
  }
  .navbar-nav-link:hover{
    color: #57A4A4;
  }
  //HEADER END
  //MAIN START
  .img-big{
    width: 768px;
    height: 361px;
  }
  .posts{
    margin-left: 0;
  }
  .posts-container{
    margin-left: 0;
  }
  .all-img{
    width: 100%;
  }
  //MAIN END
  //FOOTER START
  .footer-headline{
    font-size: 16px;
  }
  .footer-text{
    font-size: 14px;
  }
  .footer-text-end{
    font-size: 14px;
  }
  .text-decor{
   font-size: 16px;
  }
  .text-decor2{
    font-size: 13px;
  }
  .text-decor3{
    font-size: 14px;
    width: 404px;
  }
  //FOOTER END
}
@media (max-width: 320px) {
  //MAIN START
  .img-big{
    width: 320px;
    height: 200px;
    margin-top: -40px;
  }
  .posts{
    font-size: 14px;
    line-height: 22px;
  }
  .posts-container{
    width: 100%;
  }
  .all-img{
    width: 100%;
    display: grid;
    margin: 0;
  }
  .text-box{
    margin: 0;
  }
  .text-decor3{
    display: none;
  }
  //MAIN AND
  //FOOTER START
  .footer-headline{
    font-size: 14px;
    line-height: 22px;
  }
.footer-text{
  font-size: 14px;
  line-height: 20px;
}
.footer-text-end{
  font-size: 14px;
  line-height: 24px;
  margin: 0 47px;
}
  //FOOTER AND
.navbar-nav{
  flex-direction: column;
  text-align: left;
  margin-left: 130px;
  display: none;
  position: absolute;
  margin-top: 0;
}
.navbar-row{
  margin-top: 10px;
}
.container{
  margin-top: 10px;
}
.navbar-nav-item{
padding-top: 1px;
  background-color: #fff;
  border: 1px solid #F5F5F5;
  width: 164%;
}
  .navbar-nav-item:hover{
    background-color: #f5f5f5;
    color: #57A4A4;
  }
}


