@mixin flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
@mixin text{
  color: #4E4E4E;
  font-size: 16px;
  font-family: RobotoBold;
}
@mixin text2{
  font-family: RobotoRegular;
}
