$text-bold-color: #4E4E4E;
$text-roboto-normal: #7C7C7C;
$text-roboto-main: #5C5C5C;
$text-roboto-normal-footer:  #B9B9B9;
$text-bold-footer: #FEFEFE;
$Roboto-bold: 'RobotoBold';
$Roboto-Regular: 'RobotoRegular'